show
<%= form_for @song  do |f| %>
  <h1>Song <%= f.label :title %>: <%= @song.title %></h1>
  <h3>Artist: <a href="<%= artist_path(artist) %>"><%=  @song.artist_name %></a>
  <br><br>
  Edit <%= f.label :title %>:
  <%= f.text_field :title %> 
  <%= f.submit %>
<% end %>